<script src="{$Think.config.web_res_root}/admin/js/jquery.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/bootstrap-table/src/bootstrap-table.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/layui/layui.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/sweetalert/dist/sweetalert.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/pace/pace.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/customScrollbar/js/minified/jquery-ui-1.10.4.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/customScrollbar/js/minified/jquery.mousewheel.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/customScrollbar/js/minified/jquery.mCustomScrollbar.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/layer/layer.js"></script>
<script src="{$Think.config.web_res_root}/admin/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="{$Think.config.web_res_root}/admin/js/common.js"></script>

