<div class="navbar animated fadeInLeft">
    <span class="togglebtn btn btn-default">收展</span>
    <ul class="mynavli">
        <li>
            <a href="{:url('admin/index/index')}">首页</a>
        </li>
        <li>
            <a href="{:url('admin/manager/managerList')}">管理员</a>
        </li>
        <li>
            <a href="{:url('admin/user/userList')}">用户管理</a>
        </li>
        <li>
            <a href="{:url('admin/imgtext/imgtextList')}">图文管理</a>
        </li>
        <li>
            <a href="{:url('admin/article/articleList')}">文章管理</a>
        </li>
        <li>
            <a href="{:url('admin/postcard/postcardList')}">明信片</a>
        </li>
        <li>
            <a href="{:url('admin/loveword/lovewordList')}">一句话</a>
        </li>
        <li>
            <a href="{:url('admin/comment/commentList')}">留言/评论</a>
        </li>
    </ul>

    <!--<ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item"><a href="">最新活动</a></li>
        <li class="layui-nav-item layui-this"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">解决方案</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
    </ul>-->
</div>