<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/header" /}
    {include file="common/css" /}
</head>
<body>


    {include file="common/navbar" /}
    {include file="common/head" /}
    <div class="wrap">

        <div class="container-fluid">
            <div class="animated fadeInDown text-center">
                <h1>soul</h1>
                <div>
                    <h3> The old dreams were very good dreams; they didn't work out, but I'm glad I had them.</h3>
                    <h3>When you're different,when you're special,sometimes you have to get used to being alone</h3>
                </div>
            </div>
        </div>

    </div>

{include file="common/js" /}
</body>
</html>