<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {include file="common/header" /}
    {include file="common/css" /}
    <!-- Custom styles for this template -->
    <link href="{$Think.config.web_res_root}/admin/plugins/croppic/assets/css/main.css" rel="stylesheet">
    <link href="{$Think.config.web_res_root}/admin/plugins/croppic/assets/css/croppic.css" rel="stylesheet">
    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {include file="common/js" /}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-10627690-5', 'auto');
        ga('send', 'pageview');

    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src=" https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{$Think.config.web_res_root}/admin/plugins/croppic/assets/js/jquery.mousewheel.min.js"></script>
    <script src="{$Think.config.web_res_root}/admin/plugins/croppic/croppic.min.js"></script>

    <style type="text/css">
        .cropContainerMinimal{
            width: 200px;
            height:200px;
        }
    </style>
</head>
<body>
<div id="cropContainerMinimal"></div>
<script type="text/javascript">

    var croppicContaineroutputMinimal = {
        uploadUrl:"{:url('admin/common/imgsave2')}",
        cropUrl:"{:url('admin/common/imgcrop2')}",
        modal:false,
        doubleZoomControls:false,
        rotateControls: false,
        loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
        onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
        onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
        onImgDrag: function(){ console.log('onImgDrag') },
        onImgZoom: function(){ console.log('onImgZoom') },
        onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
        onAfterImgCrop:function(){ console.log('onAfterImgCrop') },
        onReset:function(){ console.log('onReset') },
        onError:function(errormessage){ console.log('onError:'+errormessage) }
    }

    var corpperHeader = new Croppic('cropContainerMinimal',croppicContaineroutputMinimal);
</script>
</body>
</html>