
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<!--<link href="{$Think.config.web_res_root}/index/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
<link href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="{$Think.config.web_res_root}/index/css/docs.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{$Think.config.web_res_root}/index/plugins/pace/themes/blue/pace-theme-flat-top.css" rel="stylesheet" />
<link href="{$Think.config.web_res_root}/index/css/animate.min.css" rel="stylesheet" />
<link href="{$Think.config.web_res_root}/index/plugins/layui/css/layui.css" rel="stylesheet" />
<link href="{$Think.config.web_res_root}/index/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" />
<link href="{$Think.config.web_res_root}/index/plugins/customScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
<!--<link href="{$Think.config.web_res_root}/index/css/public.css" rel="stylesheet" />-->
<link href="{$Think.config.web_res_root}/index/css/common.css" rel="stylesheet" />


<script src="{$Think.config.web_res_root}/index/js/jquery.min.js"></script>

<!--
<link href="{$Think.config.web_res_root}/index/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />-->