<div class="navwrap">
    <div class="navlogo">
        <div class="shrinkWrap">
            <i class="fa-bars fa shrink shrinkon"></i>
            <i class="fa-close fa shrink shrinkoff dn"></i>
        </div>

        <!--<a href="{:url('index/index/index')}" class="logotext">
            soul
        </a>-->
    </div>
    <div class="navli animli navas">
        <a href="{:url('index/index/index')}">首页</a>
        <a href="{:url('index/imgtext/imgtextlist')}">图文</a>
        <a href="{:url('index/article/articlelist')}">文章</a>
        <a href="{:url('index/postcard/postcardlist')}">明信片</a>
        <a href="{:url('index/loveword/lovewordlist')}">一句话</a>
        <a href="{:url('index/leaveword/leaveword')}">留言</a>
    </div>
    <!--<div class="naventer animli navas">
        <a href="login.html">登录</a>
        <a href="regist.html">注册</a>
    </div>-->
    <!--<div class="liwrap animli"></div>-->
</div>

<!--<div>
    <a href="{:url('index/index/index')}">首页</a>
    <a href="{:url('index/imgtext/imgtextlist')}">图文</a>
    <a href="{:url('index/article/articlelist')}">文章</a>
    <a href="{:url('index/postcard/postcardlist')}">明信片</a>
    <a href="{:url('index/loveword/lovewordlist')}">一句话</a>
    <a href="{:url('index/leaveword/leaveword')}">留言</a>
</div>-->

<script type="text/javascript">

</script>