<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link href="{$Think.config.web_res_root}/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->
    <link href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{$Think.config.web_res_root}/admin/css/docs.css" rel="stylesheet" />
    <link href="{$Think.config.web_res_root}/admin/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <!--<link href="{$Think.config.web_res_root}/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{$Think.config.web_res_root}/admin/plugins/pace/themes/blue/pace-theme-flat-top.css" rel="stylesheet" />
    <link href="{$Think.config.web_res_root}/admin/css/animate.min.css" rel="stylesheet" />
    <link href="{$Think.config.web_res_root}/admin/plugins/layui/css/layui.css" rel="stylesheet" />
    <link href="{$Think.config.web_res_root}/admin/plugins/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <link href="{$Think.config.web_res_root}/admin/plugins/customScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!--<link href="{$Think.config.web_res_root}/admin/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" />-->
    <!--<link href="{$Think.config.web_res_root}/admin/css/public.css" rel="stylesheet" />-->
    <link href="{$Think.config.web_res_root}/admin/css/soul_layui.css" rel="stylesheet" />
    <link href="{$Think.config.web_res_root}/admin/css/common.css" rel="stylesheet" />

</head>
<body>

<i class="fa fa-camera-retro"></i>


</body>
</html>